/*     18558 : 이미지      */
.img__18558__ {max-width:100%}
.img__18558__ * {box-sizing:border-box}
.img__18558__ a {display:block;vertical-align:top}
.img__18558__ img {width:px;vertical-align:top}

/*     18560 : 타이틀 텍스트      */
.title__18560__ {font-size:0}
.title__18560__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:20px;font-weight:bold;color:#333333;letter-spacing:-.03em;line-height:1.4em;
}
.title__18560__ p:before {content:'';position:absolute;background:#d00000;font-size:0}

.title__18560__.style_top p {padding-top:10px}
.title__18560__.style_top p:before {top:0;left:0;width:20px;height:4px}

.title__18560__.style_right p {padding-right:14px}
.title__18560__.style_right p:before {top:16%;right:0;width:4px;height:20px}

.title__18560__.style_bottom p {padding-bottom:12px}
.title__18560__.style_bottom p:before {bottom:0;left:0;width:20px;height:4px}

.title__18560__.style_left p {padding-left:14px}
.title__18560__.style_left p:before {top:16%;left:0;width:4px;height:20px}

.title__18560__.style_circle1 p {padding-left:18px}
.title__18560__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18560__.style_circle2 p {padding-left:18px}
.title__18560__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #d00000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18560__ p {font-size:22px}
	.title__18560__.style_top p:before {width:22px}
	.title__18560__.style_right p:before {height:22px}
	.title__18560__.style_bottom p:before {width:22px}
	.title__18560__.style_left p:before {height:22px}
}

/*     18559 : 타이틀 텍스트      */
.title__18559__ {font-size:0}
.title__18559__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:20px;font-weight:bold;color:#333333;letter-spacing:-.03em;line-height:1.4em;
}
.title__18559__ p:before {content:'';position:absolute;background:#d00000;font-size:0}

.title__18559__.style_top p {padding-top:10px}
.title__18559__.style_top p:before {top:0;left:0;width:20px;height:4px}

.title__18559__.style_right p {padding-right:14px}
.title__18559__.style_right p:before {top:16%;right:0;width:4px;height:20px}

.title__18559__.style_bottom p {padding-bottom:12px}
.title__18559__.style_bottom p:before {bottom:0;left:0;width:20px;height:4px}

.title__18559__.style_left p {padding-left:14px}
.title__18559__.style_left p:before {top:16%;left:0;width:4px;height:20px}

.title__18559__.style_circle1 p {padding-left:18px}
.title__18559__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18559__.style_circle2 p {padding-left:18px}
.title__18559__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #d00000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18559__ p {font-size:22px}
	.title__18559__.style_top p:before {width:22px}
	.title__18559__.style_right p:before {height:22px}
	.title__18559__.style_bottom p:before {width:22px}
	.title__18559__.style_left p:before {height:22px}
}

/*     18561 : 장문 텍스트      */
.textarea__18561__ p {
	display:block;margin:0;padding:0;
	font-size:15px;font-weight:normal;color:#555555;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18561__ p {font-size:15px;line-height:1.6em;}
}

