/*     18569 : 이미지      */
.img__18569__ {max-width:100%;}
.img__18569__ * {box-sizing:border-box;}
.img__18569__ a {display:inline-block; text-decoration:none; vertical-align:top;}
.img__18569__ img {width:px; max-width:100%; vertical-align:top;}

/*     18597 : 타이틀 텍스트      */
.title__18597__ {font-size:0}
.title__18597__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:18px;font-weight:bold;color:#000000;letter-spacing:-.03em;line-height:1.4em;
}
.title__18597__ p:before {content:'';position:absolute;background:#000000;font-size:0}

.title__18597__.style_top p {padding-top:10px}
.title__18597__.style_top p:before {top:0;left:0;width:18px;height:4px}

.title__18597__.style_right p {padding-right:14px}
.title__18597__.style_right p:before {top:16%;right:0;width:4px;height:18px}

.title__18597__.style_bottom p {padding-bottom:12px}
.title__18597__.style_bottom p:before {bottom:0;left:0;width:18px;height:4px}

.title__18597__.style_left p {padding-left:14px}
.title__18597__.style_left p:before {top:16%;left:0;width:4px;height:18px}

.title__18597__.style_circle1 p {padding-left:18px}
.title__18597__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18597__.style_circle2 p {padding-left:18px}
.title__18597__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #000000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18597__ p {font-size:22px}
	.title__18597__.style_top p:before {width:22px}
	.title__18597__.style_right p:before {height:22px}
	.title__18597__.style_bottom p:before {width:22px}
	.title__18597__.style_left p:before {height:22px}
}

/*     18601 : 장문 텍스트      */
.textarea__18601__ p {
	display:block;margin:0;padding:0;
	font-size:14px;font-weight:normal;color:#777777;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18601__ p {font-size:14px}
}

/*     18565 : 제목&내용 가로형      */
.text_horizontal__18565__ .title__18565__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18565__ .text__18565__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18565__:after {content:''; display:block; clear:both;}
	.text_horizontal__18565__ .title__18565__ {float:left; margin:0; width:120px;}
	.text_horizontal__18565__ .text__18565__ {overflow:hidden;}
}

/*     18566 : 제목&내용 가로형      */
.text_horizontal__18566__ .title__18566__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18566__ .text__18566__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18566__:after {content:''; display:block; clear:both;}
	.text_horizontal__18566__ .title__18566__ {float:left; margin:0; width:120px;}
	.text_horizontal__18566__ .text__18566__ {overflow:hidden;}
}

/*     18567 : 제목&내용 가로형      */
.text_horizontal__18567__ .title__18567__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18567__ .text__18567__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18567__:after {content:''; display:block; clear:both;}
	.text_horizontal__18567__ .title__18567__ {float:left; margin:0; width:120px;}
	.text_horizontal__18567__ .text__18567__ {overflow:hidden;}
}

/*     18607 : 셀 설정      */
.cell_option__18607__ {display:table;width:100%}
.cell_option__18607__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18607__ {padding:15px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18607__ {padding:25px;}
}

@media (min-width:1024px){
	.col__18607__ {padding:40px;}
}

/*     18598 : 타이틀 텍스트      */
.title__18598__ {font-size:0}
.title__18598__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:18px;font-weight:bold;color:#000000;letter-spacing:-.03em;line-height:1.4em;
}
.title__18598__ p:before {content:'';position:absolute;background:#000000;font-size:0}

.title__18598__.style_top p {padding-top:10px}
.title__18598__.style_top p:before {top:0;left:0;width:18px;height:4px}

.title__18598__.style_right p {padding-right:14px}
.title__18598__.style_right p:before {top:16%;right:0;width:4px;height:18px}

.title__18598__.style_bottom p {padding-bottom:12px}
.title__18598__.style_bottom p:before {bottom:0;left:0;width:18px;height:4px}

.title__18598__.style_left p {padding-left:14px}
.title__18598__.style_left p:before {top:16%;left:0;width:4px;height:18px}

.title__18598__.style_circle1 p {padding-left:18px}
.title__18598__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18598__.style_circle2 p {padding-left:18px}
.title__18598__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #000000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18598__ p {font-size:22px}
	.title__18598__.style_top p:before {width:22px}
	.title__18598__.style_right p:before {height:22px}
	.title__18598__.style_bottom p:before {width:22px}
	.title__18598__.style_left p:before {height:22px}
}

/*     18602 : 장문 텍스트      */
.textarea__18602__ p {
	display:block;margin:0;padding:0;
	font-size:14px;font-weight:normal;color:#777777;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18602__ p {font-size:14px}
}

/*     18572 : 제목&내용 가로형      */
.text_horizontal__18572__ .title__18572__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18572__ .text__18572__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18572__:after {content:''; display:block; clear:both;}
	.text_horizontal__18572__ .title__18572__ {float:left; margin:0; width:120px;}
	.text_horizontal__18572__ .text__18572__ {overflow:hidden;}
}

/*     18573 : 제목&내용 가로형      */
.text_horizontal__18573__ .title__18573__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18573__ .text__18573__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18573__:after {content:''; display:block; clear:both;}
	.text_horizontal__18573__ .title__18573__ {float:left; margin:0; width:120px;}
	.text_horizontal__18573__ .text__18573__ {overflow:hidden;}
}

/*     18574 : 제목&내용 가로형      */
.text_horizontal__18574__ .title__18574__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18574__ .text__18574__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18574__:after {content:''; display:block; clear:both;}
	.text_horizontal__18574__ .title__18574__ {float:left; margin:0; width:120px;}
	.text_horizontal__18574__ .text__18574__ {overflow:hidden;}
}

/*     18614 : 셀 설정      */
.cell_option__18614__ {display:table;width:100%}
.cell_option__18614__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18614__ {margin-top:20px;padding:15px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18614__ {padding:25px;}
}

@media (min-width:1024px){
	.col__18614__ {padding:40px;}
}

/*     18562 : 이미지      */
.img__18562__ {max-width:100%;}
.img__18562__ * {box-sizing:border-box;}
.img__18562__ a {display:inline-block; text-decoration:none; vertical-align:top;}
.img__18562__ img {width:px; max-width:100%; vertical-align:top;}

/*     18583 : 이미지      */
.img__18583__ {max-width:100%;}
.img__18583__ * {box-sizing:border-box;}
.img__18583__ a {display:inline-block; text-decoration:none; vertical-align:top;}
.img__18583__ img {width:px; max-width:100%; vertical-align:top;}

/*     18615 : 셀 설정      */
.cell_option__18615__ {display:table;width:100%}
.cell_option__18615__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18615__ {margin-top:50px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18615__ {}
}

@media (min-width:1024px){
	.col__18615__ {}
}

/*     18599 : 타이틀 텍스트      */
.title__18599__ {font-size:0}
.title__18599__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:18px;font-weight:bold;color:#000000;letter-spacing:-.03em;line-height:1.4em;
}
.title__18599__ p:before {content:'';position:absolute;background:#000000;font-size:0}

.title__18599__.style_top p {padding-top:10px}
.title__18599__.style_top p:before {top:0;left:0;width:18px;height:4px}

.title__18599__.style_right p {padding-right:14px}
.title__18599__.style_right p:before {top:16%;right:0;width:4px;height:18px}

.title__18599__.style_bottom p {padding-bottom:12px}
.title__18599__.style_bottom p:before {bottom:0;left:0;width:18px;height:4px}

.title__18599__.style_left p {padding-left:14px}
.title__18599__.style_left p:before {top:16%;left:0;width:4px;height:18px}

.title__18599__.style_circle1 p {padding-left:18px}
.title__18599__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18599__.style_circle2 p {padding-left:18px}
.title__18599__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #000000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18599__ p {font-size:22px}
	.title__18599__.style_top p:before {width:22px}
	.title__18599__.style_right p:before {height:22px}
	.title__18599__.style_bottom p:before {width:22px}
	.title__18599__.style_left p:before {height:22px}
}

/*     18605 : 장문 텍스트      */
.textarea__18605__ p {
	display:block;margin:0;padding:0;
	font-size:14px;font-weight:normal;color:#777777;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18605__ p {font-size:14px}
}

/*     18586 : 제목&내용 가로형      */
.text_horizontal__18586__ .title__18586__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18586__ .text__18586__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18586__:after {content:''; display:block; clear:both;}
	.text_horizontal__18586__ .title__18586__ {float:left; margin:0; width:120px;}
	.text_horizontal__18586__ .text__18586__ {overflow:hidden;}
}

/*     18587 : 제목&내용 가로형      */
.text_horizontal__18587__ .title__18587__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18587__ .text__18587__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18587__:after {content:''; display:block; clear:both;}
	.text_horizontal__18587__ .title__18587__ {float:left; margin:0; width:120px;}
	.text_horizontal__18587__ .text__18587__ {overflow:hidden;}
}

/*     18588 : 제목&내용 가로형      */
.text_horizontal__18588__ .title__18588__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18588__ .text__18588__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18588__:after {content:''; display:block; clear:both;}
	.text_horizontal__18588__ .title__18588__ {float:left; margin:0; width:120px;}
	.text_horizontal__18588__ .text__18588__ {overflow:hidden;}
}

/*     18616 : 셀 설정      */
.cell_option__18616__ {display:table;width:100%}
.cell_option__18616__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18616__ {padding:15px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18616__ {padding:25px;}
}

@media (min-width:1024px){
	.col__18616__ {padding:40px;}
}

/*     18600 : 타이틀 텍스트      */
.title__18600__ {font-size:0}
.title__18600__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:18px;font-weight:bold;color:#000000;letter-spacing:-.03em;line-height:1.4em;
}
.title__18600__ p:before {content:'';position:absolute;background:#000000;font-size:0}

.title__18600__.style_top p {padding-top:10px}
.title__18600__.style_top p:before {top:0;left:0;width:18px;height:4px}

.title__18600__.style_right p {padding-right:14px}
.title__18600__.style_right p:before {top:16%;right:0;width:4px;height:18px}

.title__18600__.style_bottom p {padding-bottom:12px}
.title__18600__.style_bottom p:before {bottom:0;left:0;width:18px;height:4px}

.title__18600__.style_left p {padding-left:14px}
.title__18600__.style_left p:before {top:16%;left:0;width:4px;height:18px}

.title__18600__.style_circle1 p {padding-left:18px}
.title__18600__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18600__.style_circle2 p {padding-left:18px}
.title__18600__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #000000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18600__ p {font-size:22px}
	.title__18600__.style_top p:before {width:22px}
	.title__18600__.style_right p:before {height:22px}
	.title__18600__.style_bottom p:before {width:22px}
	.title__18600__.style_left p:before {height:22px}
}

/*     18606 : 장문 텍스트      */
.textarea__18606__ p {
	display:block;margin:0;padding:0;
	font-size:14px;font-weight:normal;color:#777777;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18606__ p {font-size:14px}
}

/*     18593 : 제목&내용 가로형      */
.text_horizontal__18593__ .title__18593__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18593__ .text__18593__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18593__:after {content:''; display:block; clear:both;}
	.text_horizontal__18593__ .title__18593__ {float:left; margin:0; width:120px;}
	.text_horizontal__18593__ .text__18593__ {overflow:hidden;}
}

/*     18594 : 제목&내용 가로형      */
.text_horizontal__18594__ .title__18594__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18594__ .text__18594__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18594__:after {content:''; display:block; clear:both;}
	.text_horizontal__18594__ .title__18594__ {float:left; margin:0; width:120px;}
	.text_horizontal__18594__ .text__18594__ {overflow:hidden;}
}

/*     18595 : 제목&내용 가로형      */
.text_horizontal__18595__ .title__18595__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18595__ .text__18595__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18595__:after {content:''; display:block; clear:both;}
	.text_horizontal__18595__ .title__18595__ {float:left; margin:0; width:120px;}
	.text_horizontal__18595__ .text__18595__ {overflow:hidden;}
}

/*     18617 : 셀 설정      */
.cell_option__18617__ {display:table;width:100%}
.cell_option__18617__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18617__ {margin-top:20px;padding:15px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18617__ {padding:25px;}
}

@media (min-width:1024px){
	.col__18617__ {padding:40px;}
}

/*     18590 : 이미지      */
.img__18590__ {max-width:100%;}
.img__18590__ * {box-sizing:border-box;}
.img__18590__ a {display:inline-block; text-decoration:none; vertical-align:top;}
.img__18590__ img {width:px; max-width:100%; vertical-align:top;}

/*     18708 : 이미지      */
.img__18708__ {max-width:100%;}
.img__18708__ * {box-sizing:border-box;}
.img__18708__ a {display:inline-block; text-decoration:none; vertical-align:top;}
.img__18708__ img {width:px; max-width:100%; vertical-align:top;}

/*     18709 : 셀 설정      */
.cell_option__18709__ {display:table;width:100%}
.cell_option__18709__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18709__ {margin-top:50px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18709__ {}
}

@media (min-width:1024px){
	.col__18709__ {}
}

/*     18710 : 타이틀 텍스트      */
.title__18710__ {font-size:0}
.title__18710__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:18px;font-weight:bold;color:#000000;letter-spacing:-.03em;line-height:1.4em;
}
.title__18710__ p:before {content:'';position:absolute;background:#000000;font-size:0}

.title__18710__.style_top p {padding-top:10px}
.title__18710__.style_top p:before {top:0;left:0;width:18px;height:4px}

.title__18710__.style_right p {padding-right:14px}
.title__18710__.style_right p:before {top:16%;right:0;width:4px;height:18px}

.title__18710__.style_bottom p {padding-bottom:12px}
.title__18710__.style_bottom p:before {bottom:0;left:0;width:18px;height:4px}

.title__18710__.style_left p {padding-left:14px}
.title__18710__.style_left p:before {top:16%;left:0;width:4px;height:18px}

.title__18710__.style_circle1 p {padding-left:18px}
.title__18710__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18710__.style_circle2 p {padding-left:18px}
.title__18710__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #000000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18710__ p {font-size:22px}
	.title__18710__.style_top p:before {width:22px}
	.title__18710__.style_right p:before {height:22px}
	.title__18710__.style_bottom p:before {width:22px}
	.title__18710__.style_left p:before {height:22px}
}

/*     18711 : 장문 텍스트      */
.textarea__18711__ p {
	display:block;margin:0;padding:0;
	font-size:14px;font-weight:normal;color:#777777;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18711__ p {font-size:14px}
}

/*     18712 : 제목&내용 가로형      */
.text_horizontal__18712__ .title__18712__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18712__ .text__18712__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18712__:after {content:''; display:block; clear:both;}
	.text_horizontal__18712__ .title__18712__ {float:left; margin:0; width:120px;}
	.text_horizontal__18712__ .text__18712__ {overflow:hidden;}
}

/*     18713 : 제목&내용 가로형      */
.text_horizontal__18713__ .title__18713__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18713__ .text__18713__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18713__:after {content:''; display:block; clear:both;}
	.text_horizontal__18713__ .title__18713__ {float:left; margin:0; width:120px;}
	.text_horizontal__18713__ .text__18713__ {overflow:hidden;}
}

/*     18714 : 제목&내용 가로형      */
.text_horizontal__18714__ .title__18714__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18714__ .text__18714__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18714__:after {content:''; display:block; clear:both;}
	.text_horizontal__18714__ .title__18714__ {float:left; margin:0; width:120px;}
	.text_horizontal__18714__ .text__18714__ {overflow:hidden;}
}

/*     18715 : 셀 설정      */
.cell_option__18715__ {display:table;width:100%}
.cell_option__18715__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18715__ {padding:15px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18715__ {padding:25px;}
}

@media (min-width:1024px){
	.col__18715__ {padding:40px;}
}

/*     18716 : 타이틀 텍스트      */
.title__18716__ {font-size:0}
.title__18716__ p {
	display:inline-block;position:relative;margin:0;padding:0;
	font-size:18px;font-weight:bold;color:#000000;letter-spacing:-.03em;line-height:1.4em;
}
.title__18716__ p:before {content:'';position:absolute;background:#000000;font-size:0}

.title__18716__.style_top p {padding-top:10px}
.title__18716__.style_top p:before {top:0;left:0;width:18px;height:4px}

.title__18716__.style_right p {padding-right:14px}
.title__18716__.style_right p:before {top:16%;right:0;width:4px;height:18px}

.title__18716__.style_bottom p {padding-bottom:12px}
.title__18716__.style_bottom p:before {bottom:0;left:0;width:18px;height:4px}

.title__18716__.style_left p {padding-left:14px}
.title__18716__.style_left p:before {top:16%;left:0;width:4px;height:18px}

.title__18716__.style_circle1 p {padding-left:18px}
.title__18716__.style_circle1 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
}

.title__18716__.style_circle2 p {padding-left:18px}
.title__18716__.style_circle2 p:before {
	top:0;bottom:0;left:0;width:10px;height:10px;margin:auto;border-radius:50%;
	border:2px solid #000000;background:none;box-sizing:border-box;
}

@media all and (min-width:1024px){
	.title__18716__ p {font-size:22px}
	.title__18716__.style_top p:before {width:22px}
	.title__18716__.style_right p:before {height:22px}
	.title__18716__.style_bottom p:before {width:22px}
	.title__18716__.style_left p:before {height:22px}
}

/*     18717 : 장문 텍스트      */
.textarea__18717__ p {
	display:block;margin:0;padding:0;
	font-size:14px;font-weight:normal;color:#777777;letter-spacing:0;line-height:1.5em;
}

@media all and (min-width:1024px){
	.textarea__18717__ p {font-size:14px}
}

/*     18718 : 제목&내용 가로형      */
.text_horizontal__18718__ .title__18718__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18718__ .text__18718__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18718__:after {content:''; display:block; clear:both;}
	.text_horizontal__18718__ .title__18718__ {float:left; margin:0; width:120px;}
	.text_horizontal__18718__ .text__18718__ {overflow:hidden;}
}

/*     18719 : 제목&내용 가로형      */
.text_horizontal__18719__ .title__18719__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18719__ .text__18719__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18719__:after {content:''; display:block; clear:both;}
	.text_horizontal__18719__ .title__18719__ {float:left; margin:0; width:120px;}
	.text_horizontal__18719__ .text__18719__ {overflow:hidden;}
}

/*     18720 : 제목&내용 가로형      */
.text_horizontal__18720__ .title__18720__ {margin:0 0 5px; padding:0; font-size:14px; font-weight:bold; color:#333333; letter-spacing:0;}
.text_horizontal__18720__ .text__18720__ {margin:0; padding:0; font-size:14px; color:#777777; letter-spacing:0;}

@media all and (min-width:768px){
	.text_horizontal__18720__:after {content:''; display:block; clear:both;}
	.text_horizontal__18720__ .title__18720__ {float:left; margin:0; width:120px;}
	.text_horizontal__18720__ .text__18720__ {overflow:hidden;}
}

/*     18721 : 셀 설정      */
.cell_option__18721__ {display:table;width:100%}
.cell_option__18721__ p {display:table-cell;height:100px;margin:0;background:#fafafa;color:#c40000;text-align:center;vertical-align:middle}

@media (max-width:767px){
	.col__18721__ {margin-top:20px;padding:15px;}
}

@media (min-width:768px) and (max-width:1023px){
	.col__18721__ {padding:25px;}
}

@media (min-width:1024px){
	.col__18721__ {padding:40px;}
}

/*     18722 : 이미지      */
.img__18722__ {max-width:100%;}
.img__18722__ * {box-sizing:border-box;}
.img__18722__ a {display:inline-block; text-decoration:none; vertical-align:top;}
.img__18722__ img {width:px; max-width:100%; vertical-align:top;}

